= form_for(@user) do |f|
  = f.label 'Username:'
  = f.text_field :username
  <br />
  = f.label 'Password:'
  = f.password_field :password
  <br />
  = f.label 'Enter password again:'
  = f.password_field :repeat
  <br />
  = f.submit :value => "Create Account"
  <br />

Note: We only store encrypted (MD5 hash of) usernames and passwords<br />
If you forget either, you will have to start over. Data is not<br />
recoverable in such case. On the plus side, if our<br />
server is hacked, your username and password are safe.<br />
Your to do's are stored in clear text. Take care!

<br /><br />
